.pip{
position: absolute;
width: 471px;
height: 279px;
left: 781px;
top: 305px;

font-family: 'Stratos LC Web';
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 63px;

color: #000000;
}
